* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, black, rgb(27, 27, 27)) !important;
  gap: 1.5rem;
}

.hidden {
  display: none !important;
}

.metamask {
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  border: 2px solid white;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.metamask {
  width: 15rem;
  height: 3rem;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  border: 2px solid white;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mint-button {
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  border: 2px solid white;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mint-button:hover {
  color: black;
  background-color: white;
}

.user-acc {
  color: white;
  font-size: 1.5rem;
}

.greet {
  color: rgb(202, 23, 23);
  font-size: 1.5rem;
}

.cont {
  position: relative;
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
